.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #bebcc1;
}


.options {
  padding-top: 10px;
  float: left;
  width: 30%;
}
.textform {
  padding-top: 10%;
}
.mycanvas {
  float: right;
}

p {
  font-family: 'Inter', sans-serif;
  color: aliceblue;
  font-size: 60px;
}
