.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e4def9;
}
.color-nav {
  background-color: #ada1e6;
}
.cratecanvas {
  height: 90vh;
}
.spinner {
  margin-left: 45%;
  color: #605399;
}

.options {
  padding-top: 10px;
  float: left;
  width: 25%;
}
.btn {
  background-color: #ebc1ee;
}
.mycanvas {
  margin-top: 2%;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
}
.footer {
  margin-top: 1%;
  height: 14vh;
  padding-left: 28%;
  font-size: xx-large;
  font-family: 'Inter' sans-serif;
  color: white;
  background-color: #ada1e6;
  border: 2px solid white;
}
