.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c7bab1;
}
.cratecanvas {
  height: 90vh;
}

.options {
  padding-top: 10px;
  float: left;
  width: 25%;
}

.mycanvas {
  float: right;
}
.footer {
  margin-top: 3%;
  height: 14vh;
  padding-left: 28%;
  font-size: xx-large;
  font-family: 'Inter' sans-serif;
  color: white;
  background-color: #bebcc1;
  border: 2px solid white;
}
